html {
    background: url(../images/backgroundLogin.jpg) no-repeat;
    background-size: cover;
    background-position: 100%;
    height: 100vh;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    position: relative;
}

body.login-page {
    font-size: 1.6em;
    font-weight: 400;
    color: #44525f;
    height: 100vh;
    background-color: transparent;
}

.authfy-container {
    margin-top: 10%;
}

.authfy-panel-left {
    color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0 3px 6px #1d2030;
    box-shadow: 0 3px 6px #1d2030;
    background-color: rgba(255,255,255,0.45);
}

.authfy-panel-left .brand-col {
    display: table;
    width: 100%;
    padding: 0;
}

.authfy-login, .authfy-panel-left .brand-col {
    height: 430px;
}

.authfy-panel-left .brand-col .headline {
    display: table-cell;
    vertical-align: middle;
}

.brand-logo {
    margin-top: 0;
    margin-bottom: 35px;
}

.authfy-panel-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 0 2px 6px 0 #1d2030;
    box-shadow: 0 2px 6px 0 #1d2030;
    background-color: rgba(255,255,255,0.45);
}

.authfy-login {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.authfy-login .authfy-panel.active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.authfy-panel .authfy-heading {
    margin-bottom: 30px;
}

.btn.green-turquoise:not(.btn-outline) {
    color: #FFFFFF;
    background-color: #36D7B7;
    border-color: #36D7B7;
}
.btn.red:not(.btn-outline) {
    color: #ffffff;
    background-color: #e7505a;
    border-color: #e7505a;
}
.authfy-login .auth-title {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #fff;
    font-weight: 700;
    font-size: 34px;
}
.panel-login {
    margin-top: 0px;
}
.panel-forgot .form-control, .panel-login .form-control, .panel-signup .form-control {
    background-color: #fff;
    color: #333;
    font-size: 18px;
    height: 50px;
    margin-bottom: 20px;
    padding: 12px 22px;
    border-radius: 3px;
    border: 1px solid #bcc2ce;
    outline: 0;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1), 0 0 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1), 0 0 2px 0 rgba(0, 0, 0, .1);
}
.authfy-panel {
    padding: 18px 29px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}
.headline.text-center p{
    font-size: 23px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #fff;
}

