
.box-text {
    display: flex;
}
.box-text-left {
    color: rgba(0,0,0,.4);
    font-size: .875rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 9.75rem;
    padding-right: 0.75rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
input[switch]+label.stock-status{
    width: 90px;
}
input[switch]:checked+label.stock-status:after {
    left: 68px;
}
