/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 25, 2021, 11:36:15 AM
    Author     : Admin
*/
.justify-content-center{
    justify-content: center!important;
    -webkit-box-pack: center!important;
}
.pt-sm-5{
    padding-top: 3rem;
}
.my-5 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}
.bg-primary.bg-soft {
    background-color: rgba(85,110,230,.25)!important;
}
.p-4 {
    padding: 1.5rem 3rem 4rem !important;
}
.card {
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f6f6f6;
    border-radius: .25rem;
}
.rounded-circle {
    border-radius: 50%!important;
}
.avatar-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #556ee6;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}
.bg-light {
    background-color: #eff2f7!important;
}
.avatar-md {
    height: 7rem;
    width: 7rem;
}
.mb-4 {
    margin-bottom: 2.5rem!important;
}
.profile-user-wid {
    margin-top: -35px;
}
.card-body{
    padding: 0 20px
}
.alert-success {
    color: #1f7556 !important;
    background-color: #d6f3e9 !important;
    border-color: #c2eddd;
}
.text-end {
    text-align: right!important;
}
.form-control {
    border-radius: 4px;
}
.text{
    font-weight: 600;
    font-size: 20px;
}