@font-face {
    font-family: 'Montserrat';
    src: url('../../frontend/library/fonts/montserrat/Montserrat-SemiBold.otf');
}

@font-face {
    font-family: 'Montserrat-regular';
    src: url('../../frontend/library/fonts/montserrat/Montserrat-Regular.otf');
}

@media (max-width: 1023px) {
    .d-sm-none {
        display: none !important;
    }


}

@media screen and (max-width:1600px) {
    .right-50 {
        right: -42% !important;
    }
}
@media screen and (max-width:1440px) {
    .right-50 {
        right: -34% !important;
    }
    .full-name-header {
        font-size: 24px;
    }
}
@media screen and (max-width:1390px) {
    .div-header {
        display: flex;
        /* margin-top: 10px; */
        /* padding-left: 25%; */
    }

    .text-header {
        margin-left: 20px;
        /* margin-top: 6px; */
    }

    .full-name-header {
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.2px;
        color: #019241;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 10px;
    }

    .title-header {
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 0px;
        text-transform: uppercase;

        color: #73AA24;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .height-header::before {
        background-size: 400px !important;
    }

    .right-50 {
        right: -30% !important;
    }
}

.align-middle {
    vertical-align: middle !important;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-0 {
    margin-top: 0px;
}

.margin-0 {
    margin: 0px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.choose * {
    background: #1e8834;
    color: white;
}

.display-block {
    display: block;
}

.pointer {
    cursor: pointer;
}

.list-style-none ul {
    list-style-type: none;
}

@media (min-width: 768px) {
    .modal-xxl {
        width: calc(100% - 60px);
    }
}

.no-padding-right {
    padding-right: 0px;
}

.input-group .input-group-addon.disabled {
    background: #eeeeee;
}

.table-form-question tr>th {
    vertical-align: middle !important;
    text-align: center;
}

.modal_scroll {
    overflow-y: auto;
}

.report table tr th {
    text-align: center;
    vertical-align: middle;
}

#reloadPage {
    position: fixed;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    z-index: 99999999;
    text-align: center;
    /* display: none; */
}

#reloadPage i {
    position: fixed;
    top: 40%;
    opacity: 1;
    color: black;
}

.main-sidebar .sidebar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    background: url(../images/trong-dong-trang-den.png) no-repeat center top 300px;
    background-size: 700px 700px;
}

.skin-yellow-light .sidebar-menu>li.header {
    color: #848484;
    background: transparent;
}

.main-header .navbar.navbar-static-top:before {
    content: "";
    position: absolute;
    top: 0;
    left: -230px;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
    background: url(../images/thucpham.png) no-repeat center left 0px;
    display: block !important;
    background-size: 500px;
}

.skin-yellow-light .main-header .logo {
    background-color: #d46f1d;
    color: #fff;
    border-bottom: 0 solid transparent;
}

.skin-yellow-light .main-header .navbar {
    background-color: #d46f1d;
}

.skin-yellow-light .sidebar-menu>li:hover>a,
.skin-yellow-light .sidebar-menu>li.active>a {
    background: #d46e1f;
    color: #fff;
}

.skin-green-light span.info-box-icon.bg-yellow {
    background-color: #30a65a !important;
}

.skin-yellow-light span.info-box-icon.bg-yellow {
    background-color: #d46e1f !important;
}

.dashboard a .info-box-number {
    font-size: 14px;
    color: #333;
}

.navbar-left {
    float: left;
    line-height: 50px;
    color: #fff;
    font-size: 17px;
}

.img-logo-sonla {
    width: 35px;
    height: 35px;
    /* background: url(../images/logo-SonLa.png) no-repeat; */
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 23px;
}

.skin-green-light .bg-orange {
    background-color: #30a65a !important;
    color: #ffffff;
}

.skin-yellow-light .bg-orange {
    background-color: #d16300 !important;
    color: #ffffff;
}

.padding-4 {
    padding: 4px !important;
}

.padding-1 {
    padding: 1px !important;
}

table.table-form-question tr td:first-child a {
    font-weight: 600;
}

/*radio checkbox*/
/* The container */
.input-checkbox {
    /*display: block;*/
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 10px;
}

/* Hide the browser's default checkbox */
.input-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.input-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #9a9a9a;
}

/* On mouse-over, add a grey background color */
.input-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.input-checkbox input:checked~.checkmark {
    background-color: #d1e1ef;
}

/* Create the checkmark/indicator (hidden when not checked) */
.input-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.input-checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.input-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.input-checkbox input[disabled]~span.checkmark {
    opacity: 0.6;
}

/*end radio checkbox*/
/*sipas*/
input.other_idea {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: dotted 2px;
    width: 200px;
    font-size: initial;
}

input.other_idea:focus {
    outline: none;
}

label.input-checkbox {
    font-size: medium !important;
    font-weight: 500 !important;
}

/*/radio*/
/* Create a custom checkbox */
.input-checkbox .checkmark_radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #9a9a9a;
}

/* On mouse-over, add a grey background color */
.input-checkbox:hover input~.checkmark_radio {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.input-checkbox input:checked~.checkmark_radio {
    background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.input-checkbox .checkmark_radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.input-checkbox input:checked~.checkmark_radio:after {
    display: block;
}

/* Style the checkmark/indicator */
.input-checkbox .checkmark_radio:after {
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.input-checkbox input[disabled]~span.checkmark_radio {
    opacity: 0.6;
}

/*end radio checkbox*/
/*sipas*/

label.input-checkbox {
    font-size: medium !important;
    font-weight: 500 !important;
}

/*end sipas*/

.phieu_index {
    border: 1px solid #999696 !important;
    margin-top: 10px !important;
    padding: 7px;
}

h4.other_answer {
    font-size: initial;
    display: inline;
    font-style: italic;
}

.progress {
    background-color: #dadada;
}

.table-break-word {
    word-wrap: break-word;
    table-layout: fixed;
}

/* ---------- LIVE-CHAT ---------- */
.list-chat {
    position: fixed;
    right: 24px;
    bottom: 0px;
    z-index: 100;
}

.live-chat {
    bottom: 0;
    font-size: 12px;
    width: 284px;
    float: right;
    margin-left: 11px;
    border: 1px solid #c9d0da;
}

.live-chat header {
    background: #d46e1f;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 1px 15px;
}

.live-chat h4:before {
    background: #1a8a34;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}

.live-chat h4 {
    font-size: 12px;
}

.live-chat h5 {
    font-size: 10px;
}

.live-chat form {
    padding: 5px 24px 15px;
}

.live-chat input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    outline: none;
    width: 100%;
}

.live-chat .chat-message-counter {
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    display: none;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}

.live-chat .chat-close {
    background: #1b2126;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 9px 0 0 0;
    text-align: center;
    width: 16px;
}

.live-chat .chat {
    background: #fff;
}

.live-chat .chat-history {
    height: 252px;
    padding: 8px 24px;
    overflow-y: scroll;
}

.live-chat .chat-message {
    margin: 16px 0;
}

.live-chat .chat-message img {
    border-radius: 50%;
    float: left;
}

.live-chat .chat-message-content {
    margin-left: 56px;
}

.live-chat .chat-time {
    float: right;
    font-size: 10px;
}

.live-chat .chat-feedback {
    font-style: italic;
    margin: 0 0 0 80px;
}

.live-chat .chat {
    padding: 0;
}

/*style chat box*/
.box-content-chat {
    display: flex;
    flex-direction: column;
    /* width: 97%; */
}

.box-content-chat div {
    bottom: 0;
}

.box-content-chat ul {
    bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    flex-direction: column;
    max-width: 85%;
    margin-bottom: 0px;
}

.box-content-chat div {
    /* margin-bottom: 20px; */
}

.box-content-chat ul>li {
    margin-bottom: 3px;
    font-size: 14px;
    border-radius: 10px;
}

.box-content-chat ul li>span {
    margin-bottom: 2px;
}

/*Style box chat right(me)*/

.box_right ul {
    float: right;
}

.box_right ul li span {
    background: #4080ff;
    color: #fff;
    border-radius: 25px 0px 0px 25px;
}

/*Style box chat left(you)*/
.box_left ul {}

.box_left ul li span>span {
    border-radius: 0px 25px 25px 0px;
}

.box_left ul li span,
.box_right ul li span {
    border-radius: 17px;
}

.msg {
    padding: 5px 10px;
    background: #f1f0f0;
    display: inline-block;
}

.img_box_left {
    float: left;
    width: 35px;
}

/*style message_waiting*/
.message_waiting {
    padding: 0;
    width: 280px;
}

.message_waiting li {
    background: #fff;
    border: 1px solid #c6c6c6;
    border-top: 0;
}

.img_user {
    float: left;
}

.message_user {
    padding-left: 50px;
}

.message_user .user {
    font-weight: bold;
}

.sum_message {
    background: #dd4b39;
    padding: 2px 4px;
    border: 1px solid #dd4b39;
    border-radius: 5px;
    font-size: 9px;
    color: #fff;
}

.message_waiting li>a:hover {
    background: #4080ff;
}

.img-user {
    width: 35px;
    height: 35px;
    float: left;
}

/*end chat*/
.text_massage {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img_box_left,
.img-user {
    border: #ededed 2px solid;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: #e8e8e8;
    height: 35px;
    line-height: 35px;
    background-color: #616161;
    font-size: 22px;
}

.more_msg {
    text-align: center;
}

/*.tooltip*/
.tooltip-css {
    position: relative;
}

.tooltip-css .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    background-color: #ffffff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    white-space: initial;
    box-shadow: darkblue;
    box-shadow: 1px 1px 8px #aaa;
}

.tooltip-css .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    z-index: -1;
}

.tooltip-css:hover .tooltiptext {
    visibility: visible;
}

/*end .tooltip*/
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
}

.table.table-top>tbody>tr>td,
.table.table-top>tbody>tr>th,
.table.table-top>tfoot>tr>td,
.table.table-top>tfoot>tr>th,
.table.table-top>thead>tr>td,
.table.table-top>thead>tr>th {
    vertical-align: top;
}

.ip-has-error {
    border-color: #dd4b39;
    box-shadow: none;
}

.pagination {
    margin: 0;
}

.table-child tr td:first-child {
    border-left: 0px;
}

.table-child tr td:last-child {
    border-right: 0px;
}

.table-child tr:first-child td {
    border-top: 0px;
}

.table-child tr:last-child td {
    border-bottom: 0px;
}

@-webkit-keyframes vibrate {
    0% {
        right: -2px;
    }

    4% {
        right: 0px;
    }

    10% {
        right: 2px;
    }

    15% {
        right: -2px;
    }

    20% {
        right: 2px;
    }

    25% {
        right: 0;
    }

    75.0% {
        right: 0;
    }

    87.5% {
        right: 0;
    }

    100% {
        right: 0;
    }
}

.notifi {
    position: absolute;
    -webkit-transition: 0.5s ease;
    -webkit-animation: vibrate 0.5s 0.3s infinite;
    animation: vibrate 2s 1s infinite;
    font-size: 15px !important;
    padding: 2px 5px !important;
    top: 2px !important;
}

/*.tree*/
.tree {
    display: flex;
    padding-right: 0px;
}

.tree .tree-right {
    flex: 1;
    box-sizing: border-box;
}

.tree-ou .fa {
    font-size: 1.3em;
    color: gray;
    width: 15px;
    text-align: center;
}

.tree-ou .fa-folder-o,
.tree-ou .fa-folder-open-o {
    color: #fbc02d;
    margin-right: 5px;
}

.tree-ou ul {
    list-style-type: none;
}

.tree-ou ul li {
    min-height: 30px;
    line-height: 30px;
    cursor: pointer;
    clear: both;
}

.tree-ou ul li.selected {
    background: #eee;
}

.tree-ou ul li.selected ul,
.tree-ou ul li.selected li {
    background: white;
}

.tree-ou ul li.selected>.fa-caret-down,
.tree-ou ul li.selected>.fa-caret-right,
.tree-ou .panel-body>ul {
    padding: 0;
}

.tree-ou li.hover {
    background: #eee;
}

.tree-ou ul {
    padding-left: 15px;
}

.tree-ou ul>li>ul {
    max-height: 0;
    overflow: hidden;
}

.tree-ou ul>li.expand>ul {
    max-height: none;
}

.table-ou .fa-folder-open-o {
    color: #fbc02d;
}

.table-ou .fa-user {
    color: #ccc;
}

.table-ou .tbl-type .fa {
    font-size: 1.5em;
}

/*end .tree*/

#fullScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-x: auto;
    z-index: 10000;
    top: 0;
    left: 0;
}

#fullScreen .html-hide-full-screen {
    font-size: 25px;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    right: 13px;
    z-index: 1;
}

/*#box-audio*/
#controls {
    display: flex;
}

#controls button {
    flex-grow: 1;
    height: 32px;
    min-width: 2rem;
    border: none;
    border-radius: 0.15rem;
    background: #ed341d;
    margin-left: 2px;
    box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}

#controls button:hover,
#controls button:focus {
    outline: none;
    background: #c72d1c;
}

#controls button::-moz-focus-inner {
    border: 0;
}

#controls button:active {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
    line-height: 3rem;
}

#controls button:disabled,
#controls button#recordButton:disabled,
#controls button#stopButton:disabled {
    pointer-events: none;
    background: lightgray;
}

#controls button:first-child {
    margin-left: 0;
}

#box-audio audio {
    display: block;
    margin-top: 0.2rem;
    height: 30px;
    width: 90%;
    margin: 10px auto 5px;
}

audio {
    display: block;
    margin-top: 0.2rem;
    height: 30px;
    width: 90%;
    margin: 10px auto 5px;
}

#controls li {
    list-style: none;
    margin-bottom: 1rem;
}

#box-audio {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 285px;
    min-height: 80px;
    background: #e8e8e8;
}

#box-audio #recordingsList {
    padding: 0px;
    text-align: center;
    list-style: none;
}

#box-audio #recordingsList a {
    padding: 0 10px;
}

#controls button#recordButton {
    background: #30a65a;
}

#controls button#stopButton {
    background: #3c8dbc;
}

/*end #box-audio*/
.fullScreemEvaluation {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-x: auto;
    z-index: 10000;
    top: 0;
    left: 0px;
    margin: 0;
    padding: 15px 15px 25px;
}

.overflow-hidden {
    overflow-x: hidden;
    overflow-y: hidden;
}

.btn-fix {
    position: absolute;
    top: 8px;
    right: 5px;
    font-size: 27px;
    line-height: 27px;
    border: 1px solid #ddd;
    z-index: 10;
}

.list-audio {
    height: 30px;
    width: 205px;
}

.un_read {
    background-color: #f4f4f4;
}

.box-relative {
    position: relative;
}

.box-loading {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
}

.box-loading i {
    top: calc(40% - 20px);
    position: absolute;
    left: calc(50% - 20px);
}

.remove_question a {
    text-decoration: line-through;
    color: #868686;
}

.box_show_progress .progress {
    margin-bottom: 5px;
}

.tableFixHead {
    overflow-y: auto;
    height: 700px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    background: #d16300;
    font-size: 14px;
    z-index: 1;
}

.block {
    display: none;
}

.block-res {
    display: none;
}

/*.form-search*/
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 10px 20px;
}

@media screen and (min-width: 768px) {
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

.form-search button.btn.btn-outline-light {
    border: 1px solid #ced4da;
}

.text-right {
    text-align: right;
}

.page-content {
    /* min-height: 580px; */
    padding: calc(58px + 24px) calc(24px / 2) 150px calc(24px / 2);
}

.form-search {
    max-width: 500px;
    float: right;
}

table.dataTable {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    bottom: calc(50% - 8px);
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 1px !important;
}

.mb-3 {
    margin-bottom: 15px;
}

/*end .form-search*/
.style-input {
    height: 45px;
    padding-left: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    color: #999999;
}

.style-label {
    font-size: 14px;
    margin-bottom: 10px !important;
}

.btn-custom {
    margin-top: 10px;
    line-height: 22px;
    padding: 0 9px;
    background-color: #c3c7cc;
    margin-right: 5px;
    color: #444444;
    border: none;
}

.btn-custom .active {
    background-color: #337ab7 !important;
    color: #ffffff !important;
}

.style-span p span {
    position: absolute;
    left: 40%;
}

.style-span p,
.style-p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    /* or 111% */

    letter-spacing: -0.2px;

    color: #000000;
}

#show_list_comment_reflect,
#show_list_image_reflect {
    background: #e5f4ec;
    opacity: 0.87;
    width: 100%;
}

.style-img {
    height: 200px;
    padding-top: 20px;
}

.style-img:first-child {
    padding-left: 20px;
}

#show_list_comment_reflect,
#show_list_image_reflect,
.image-section {
    display: flex;
    justify-content: stretch;
}

.style-img img {
    width: auto;
    height: 155px;
    margin-right: 10px;
    vertical-align: middle;
}

.label-bt {
    margin: 15px 0 5px 0;
}

.reflect-content {
    color: #000000;
    font-weight: bold;
}

.reflect-title {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    /* or 91% */

    letter-spacing: -0.2px;

    color: #000000;
}

.reflect-des {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 91% */
    letter-spacing: -0.2px;
    color: #000000;
    /* padding: 20px 0; */
}

.image-section {
    padding: 10px;
    margin-top: 10px;
    background-color: #d0d0d0;
    height: 200px;
}

.image-section img {
    height: 155px;
    width: auto;
    margin-right: 20px;
}

.select2-search__field {
    width: 8em !important;
}

.select2-selection__choice__remove {
    color: #999 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4 !important;
    border: 1px solid #f6f6f6 !important;
    border-radius: 4px;
    color: #000 !important;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

.custom-box {
    margin: 10px 0;
    border: 1px solid #f4f4f4
}

.btn-marginRight {
    margin-top: 5px;
    margin-right: 5px;
}

.row-button button {
    margin-top: 3px;
}

/* css header */
.height-header {
    background-image: url(../images/img-header.jpg);
    background-repeat: no-repeat;
    height: 70px !important;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    background-size: auto auto;
    /* right: 0; */
    background-position: right 164px top;
}

.height-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 0;
    background: url(../images/thucpham.png) no-repeat center left 0px;
    display: block !important;
    background-size: 500px;
}

.custom-menu-header {
    height: 100px;
    margin-right: 15%;
}

@media screen and (min-width:1391px) {
    .div-header {
        display: flex;
        /* margin-top: 10px; */
        /* padding-left: 24%; */
    }

    .text-header {
        margin-left: 20px;
        margin-top: 4px;
    }

    .full-name-header {
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        /* line-height: 20px; */
        /* identical to box height, or 67% */
        letter-spacing: -0.2px;
        color: #019241;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 10px;
    }

    .title-header {
        font-style: normal;
        font-weight: 800;
        font-size: 17px;
        line-height: 0px;
        /* identical to box height */
        text-transform: uppercase;

        /* Main */
        color: #73AA24;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    p.title-header {}
}

.info-box.box-custom {
    background: rgba(1, 147, 65, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 9px;

}

.action-delete {
    position: absolute;
    right: 15px;
    bottom: 14px;
    color: #ea1717;
    padding: 0 5px;
}

.action-ban {
    float: right;
    bottom: 10px;
    position: absolute;
    right: 15px;
    font-size: 20px;
    color: #e00505;
}

.action-approved {
    float: right;
    top: 30%;
    position: absolute;
    right: 15px;
    padding: 0 5px;
}

.span-block {
    display: block;
}

.action-detail {
    float: right;
    top: 20px;
    position: absolute;
    right: 15px;
    color: #3c8dbc;
    padding: 0 5px;
}

.action-edit {
    float: right;
    top: 0;
    position: absolute;
    right: 15px;
    color: #3c8dbc;
    padding: 0 5px;
}

.action-replicate {
    position: absolute;
    right: 15px;
    top: 35px;
    color: #3cbc9e;
    padding: 0 5px;
}

.style_icon {
    font-size: 20px;
}

.box-custom .info-box-content {
    display: grid;
    height: 100%;
    min-height: 120px;
    padding: 10px 30px 10px 15px;
    overflow: hidden;
    margin-left: 0;
}

.info-box-content-reflect {
    display: grid;
    height: 100%;
    min-height: 130px;
    padding: 10px 30px 10px 15px;
    overflow: hidden;
    margin-left: 0;
}

.info-box-image {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    /* border-right: 1px solid #c6c6c6; */
    display: block;
    float: left;
    height: 120px;
    width: 120px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    padding: 5px;
    /*background: rgba(0,0,0,0.2);*/
}

.info-box-image-1 {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    /* border-right: 1px solid #c6c6c6; */
    display: block;
    float: left;
    text-align: center;
    /* font-size: 45px; */
    /* line-height: 90px; */
    padding-top: 5px;
    padding-left: 5px;
    /*background: rgba(0,0,0,0.2);*/
}

.img-middle {
    vertical-align: middle;
    display: inline-block;
}

.img-1 {
    vertical-align: middle;
    display: inline-block;
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.text-green {
    color: #019341;
}

.table>tbody>tr>td.align-top, .table>tbody>tr>th.align-top, .table>tfoot>tr>td.align-top,
.table>tfoot>tr>th.align-top, .table>thead>tr>td.align-top, .table>thead>tr>th.align-top {
    vertical-align: top;
}

.button-icon {
    position: absolute;
    top: 3px;
    background-color: transparent;
    right: 8px;
    padding: 0px;
    border: none;
}

.button-icon:hover {
    transform: scale(1.2);
}

.button-icon i {
    font-size: 20px;
}

.text-green-custom {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    color: #019341;
}

.text-5-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    text-align: justify;
}

.display-inital {
    display: inherit;
}

.btn-green-custom {
    background-color: #019341;
}

/* iot */

.our {
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 61px;
    /* identical to box height */


    color: #019341;

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.date-time {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 17px;
    /* identical to box height */


    color: #000000;

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.infor-iot-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
    /* identical to box height */


    color: #019341;

    text-shadow: 0px 0.75px 0.25px rgba(0, 0, 0, 0.25);
}

.info-iot-text {
    font-weight: 700;
    font-size: 18px;
    font-style: bold;
    line-height: 15px;
    /* identical to box height */
    color: #000000;
}

.info-iot-text span {
    font-style: normal !important;
    font-size: 18px;
    line-height: 15px;
    font-weight: normal !important;
    /* identical to box height */
    color: #6198C7;
    position: absolute;
    left: 70%;
}

.info-iot {
    text-align: left;
}

.button-purchase {
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: #019341;
    width: 100px;
    padding: 3px 0px;
    margin-top: 10px;
}

.purchase-section {
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
    padding: 5px 10px;
    margin: 5px 10px 0px 10px;
}

.button-purchase-m {
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: #019341;
    padding: 3px 4px;
    margin-top: 10px;
}

.padding-right0 {
    padding-right: 0;
}

.background-nsx {
    background-image: url('../images/img-nsx.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    min-height: 700px;
}

.background-ncc {
    background-image: url('../images/img-ncc.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    min-height: 500px;
}

.background-ntm {
    background-image: url('../images/img-ntm.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    min-height: 500px;
}

.text-underline {
    margin-bottom: 0px;
}

.text-underline span {
    border-bottom: 1px dotted #c2c2c2;
}

.box-title-text {
    height: 37px;
    background-color: #019341;
    display: inline-block;
    text-align: left;
    color: #fff;
    position: relative;
    margin-right: 20px;
    text-transform: uppercase;
    padding: 9px 15px;
    width: auto;
    cursor: pointer;
}

.box-title-text:before {
    border-top: 26px solid #204b03;
    content: "";
    position: absolute;
    transform: rotate(45deg);
    right: -4px;
    top: 2px;
    border-top: 26px solid #019341;
    border-left: 26px solid transparent;
    border-bottom: 25px solid transparent;
}

.box-title {
    background-color: #e1e2e1;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
}

.form-filter {
    height: 37px;
    background-color: transparent;
    border-style: none;
    color: inherit;
    border-radius: 0;
}

.form-filter:focus {
    background-color: transparent;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 100%;
}

.box-title-layout {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    min-width: 0;
}

.padding0 {
    padding: 0px;
}

.padding-left-125 {
    padding-left: 1.25rem !important;
}

.padding-125 {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

.text-red {
    color: #e54949
}

.text-justify {
    text-align: justify
}

.margin-bottom0 {
    margin-bottom: 0px !important;
}

.table-green {
    background-color: #019341;
    color: white;
}

.right-50 {
    right: -50%;
}

.box.box-primary {
    border-top-color: #3c8dbc;
}

.style-span p span {
    position: absolute;
    left: 40%;
    font-weight: normal;
}

.style-span p,
.style-p {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* or 111% */

    letter-spacing: -0.2px;

    color: #000000;
    margin-bottom: 10px;
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
    border-left-width: thin !important;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: collapse !important;
    border-spacing: 0;
}

.magintop15 {
    margin-top: 15px;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;

    font-weight: normal;

    color: #777;
    white-space: nowrap;
}

.dropdown-menu>li>a:hover {
    background-color: #e1e3e9;
    color: #333;
}

/* block product */
@media screen and (max-width:1680px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1681px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.grid-container {
    display: grid;
    padding-top: 10px;
    gap: 15px;
}

.grid-item {
    background: rgba(1, 147, 65, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 9px;
    min-height: 100px;
    display: flex;
    position: relative;
    /* padding-bottom: 10px; */
    margin-bottom: 10px !important;
}

.grid-left {
    padding-top: 12px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    width: 25%;
}

.div-img {
    position: relative;
    margin: auto;
    object-fit: cover;
    width: 91px;
    height: 70px;
    overflow: hidden;
}

.img-hover-zoom img {
    width: 100%;
    height: 100%;
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.5);
}

.img-text {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    color: #DB261B;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.grid-left-name {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 11px;
      line-height: 12px;
      color: #019341;
      text-align: center;
      margin-top: 3px;
      margin-bottom: 3px;
      min-height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.grid-left-name:hover, .hover-name:hover {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    cursor: pointer;
}

.grid-left-date {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    color: #000000;
    text-align: center;
}

.grid-right {
    width: 75%;
    display: grid;
    grid-template-areas:
        'header header header header'
        'left left right right'
        'footer footer footer footer';
}

.grid-right-text {
    grid-area: header;
    margin: 12px 8px 0 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #019341;
}

.gr-text-left {
    grid-area: left;
}

.gr-text-left p {
    font-family: 'Montserrat-regular';
    font-style: normal;
    font-size: 13px;
    line-height: 12px;
    color: #000000;
    margin: 0 0 9px 0;
}

.gr-text-left p span, .gr-text-right p span {
    font-family: 'Montserrat';
}

.gr-text-right p {
    font-family: 'Montserrat-regular';
    font-style: normal;
    font-size: 13px;
    line-height: 12px;
    color: #000000;
    margin: 0 0 9px 0;
}

.gr-text-right {
    grid-area: right;
}

.grid-right-view {
    grid-area: footer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 11px;
    /* identical to box height */
    color: #DB261B !important;
    cursor: pointer;

}

.grid-right-view:hover {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.one {
    border-color: #fff;
    overflow: hidden;
    color: #fff;
}

.myBt {
    outline: none;
    border: none;
    padding: 1px 14px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #019341;
    position: relative;
    border: 1px solid #019341;
    transition: all 0.5s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease
}

.one .inside {
    background-color: #fff;
    width: 100%;
    height: 20px;
    position: absolute;
    left: -135px;
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
}

.one:hover .inside {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    left: 135px;
}

.one:hover {
    background-color: #019341;
    border-color: #fff;
    color: #fff;
}

.card-title {
    font-size: 15px;
    margin: 0 0 7px 0;
    font-weight: 600;
    border-bottom: 1px solid #efeeee;
    padding-bottom: 10px;
}

#file-section a {
    display: block;
}

#show_file p {
    margin-bottom: 0px;
}

.bg-blue {
    background-color: #019241;
    color: #fff;
}



label.input-checkbox {
    font-size: medium !important;
    font-weight: 500 !important;
}

.input-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.input-checkbox .checkmark {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #9a9a9a;
}

/* On mouse-over, add a grey background color */
.input-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.input-checkbox input:checked~.checkmark {
    /* background-color: #2196F3; */
}

/* Create the checkmark/indicator (hidden when not checked) */
.input-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.input-checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.input-checkbox .checkmark:after {
    left: 8px;
    top: -6px;
    width: 12px;
    height: 24px;
    border: solid #019341;
    border-width: 0 6px 6px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.input-checkbox input[disabled]~span.checkmark {
    opacity: 0.6;
}
.select2-container--open {
    z-index: 1060;
}

.cover-purchase-button {
    position: relative; 
    display: inline-block;
}
.dot-blink {
    color: red;
    position: absolute;
    top: -10px;
    right: -20px;
    font-size: 22px;
    animation: dot-blink 1s infinite alternate;
}
@keyframes dot-blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}