<!-- Content Header (Page header) -->
<div class="card margin-bottom0">
    <div class="card-body padding-bottom0 padding0">
        <div class="row">
            <div class="col-md-12">
                <div class="box-title">
                    <div class="box-title-text"><span>Danh sách đơn hàng</span></div>
                    <div class="box-title-layout">
                        <div class="flex">
                            <input type="text" class="form-control form-filter" ng-model="search.keyword"
                                ng-enter="actions.search()" placeholder="Tìm kiếm theo tên ...">
                        </div>
                        <div class="flex text-right" style="margin-left: auto; max-width: 40px; height: 37px;">
                            <button type="button" class="btn" ng-click="actions.search()">
                                <i aria-hidden="true" class="fas fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mt-3">
    <div class="card-body">
        <table class="table table-bordered" id="unit_table">
            <colgroup>
                <col width="5%" />
                <col width="*" />
                <col width="10%" />
                <col width="20%" />
                <col width="10%" />
                <col width="10%" />
                <col width="10%" />
            </colgroup>
            <thead class="table-green">
                <tr>
                    <th class="text-center align-middle">STT</th>
                    <th class="text-center align-middle">Tên người nhận</th>
                    <th class="text-center align-middle">Số điện thoại</th>
                    <th class="text-center align-middle">Địa chỉ</th>
                    <th class="text-center align-middle">Đơn giá</th>
                    <th class="text-center align-middle">Thời gian</th>
                    <th class="text-center align-middle">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.listData">
                    <td class="text-center align-middle">
                        {{ $index + (search.page - 1) * search.per_page + 1 }}
                    </td>
                    <td class="align-middle">{{ item.name }}</td>
                    <td class="align-middle text-center">{{ item.phone }}</td>
                    <td class="align-middle">{{ item.address }}</td>
                    <td class="align-middle text-right">{{ item.payment | formatNumber}}</td>
                    <td class="align-middle">{{ item.created_at | formatDateTime }}</td>
                    <td class="align-middle text-center"> 
                        <button type="button" class="btn btn-light btn-sm"
                        ng-click="actions.showModalDetail(item.order_draft)">
                        <i class="bx bx-show-alt" aria-hidden="true"></i>Xem chi tiết
                    </button>
                </td>
                </tr>
            </tbody>
        </table>
        <paginate-dir page="search.page" page-size="search.per_page" total="search.total"
            paging-action="actions.gotoPage(page)">
        </paginate-dir>
    </div>
</div>

<div id="modal_single" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="color: #fff">
                <h4 class="modal-title">
                    Chi tiết đơn hàng
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <table class="table table-bordered" id="unit_table">
                        <colgroup>
                            <col width="5%" />
                            <col width="*" />
                            <col width="20%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="10%" />
                        </colgroup>
                        <thead class="table-green">
                            <tr>
                                <th class="text-center align-middle">STT</th>
                                <th class="text-center align-middle">Tên sản phẩm</th>
                                <th class="text-center align-middle">Ảnh sản phẩm</th>
                                <th class="text-center align-middle">Size</th>
                                <th class="text-center align-middle">Màu sắc</th>
                                <th class="text-center align-middle">Số lượng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in data.order_detail">
                                <td class="text-center align-middle">
                                    {{ $index +  1 }}
                                </td>
                                <td class="align-middle">{{ item.sanpham.name }}</td>
                                <td class="align-middle text-center">
                                    <img ng-src="{{actions.getPathImg(item.sanpham.medias[0].filepath)}}"
                                    style="border:1px solid lightgrey;object-fit: cover;" height="100px" width="150px">
                                </td>
                                <td class="align-middle text-center">{{ item.size.name}}</td>
                                <td class="align-middle text-center">{{ item.color.name}}</td>
                                <td class="align-middle text-center">{{ item.quantity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-social" data-bs-dismiss="modal">
                    <i class="fa fa-close"></i> Đóng 
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>