<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Quản lý doanh nghiệp</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>Quản lý doanh nghiệp</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content row">
    <div class="box box-primary">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <div class="box-body my_box tab-content">
            <div class="row mb-3">
                <div class="col-sm-12 col-md-6">
                    <button class="btn btn-sm btn-social btn-primary" ng-click="actions.showModelOu(0);">
                        <i class="fa fa-plus"></i> Thêm doanh nghiệp
                    </button>
                    <a class="btn btn-sm btn-primary" href="#!/ou/import">
                        <i class="fa fa-file-excel-o "></i> Nhập từ Excel
                    </a>
                    <button class="btn btn-sm btn-primary" ng-click="actions.exportExcel()">
                        <i class="fa fa-file-excel-o "></i> Xuất file Excel
                    </button>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="input-group form-search">
                        <input type="text" class="form-control" placeholder="Tìm kiếm"
                               ng-enter="actions.getAll()"
                               ng-model="data.search.keyword"/>

                        <div class="input-group-btn">
                            <div class="dropdown dropdown-lg">
                                <button class="btn btn-default" type="button" title="tìm kiếm"
                                        data-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                        viewBox="0 0 22 22">
                                        <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14
                                                            4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"></path>
                                    </svg>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <div class="row mb-3" ng-click="$event.stopPropagation()">
                                        <div class="col-md-6">
                                            <label class="form-label" for="fillter_enterprise_type">
                                                Loại hình doanh nghiệp
                                            </label>
                                            <select class="form-control" id="fillter_enterprise_type"
                                                    ng-model="data.search.enterprise_type_id">
                                                <option value="">Tất cả</option>
                                                <option ng-value="item.id" ng-repeat="item in data.listEnterpriseType">{{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="fillter_career">
                                                Ngành nghề SX, KD
                                            </label>
                                            <select class="form-control" id="fillter_career"
                                                    ng-model="data.search.career_id">
                                                <option value="">Tất cả</option>
                                                <option ng-value="item.id"
                                                        ng-repeat="item in data.listCareer">{{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="fillter_province">
                                                Tỉnh/thành
                                            </label>
                                            <select class="form-control" id="fillter_province"
                                                    ng-model="data.search.province_id"
                                                    ng-change="data.search.district_id = ''; data.search.village_id = ''">
                                                <option value="">Tất cả</option>
                                                <option ng-value="item.id"
                                                        ng-repeat="item in data.listProvince">{{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="fillter_district">
                                                Quận/huyện
                                            </label>
                                            <select class="form-control" id="fillter_district"
                                                    ng-change="data.search.village_id = ''"
                                                    ng-model="data.search.district_id">
                                                <option value="">Tất cả</option>
                                                <option ng-value="item.id" ng-repeat="item in data.listDistrict"
                                                        ng-if="item.province_id == data.search.province_id">{{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="fillter_village">
                                                Xã/phường
                                            </label>
                                            <select class="form-control" id="fillter_village"
                                                    ng-model="data.search.village_id">
                                                <option value="">Tất cả</option>
                                                <option ng-value="item.id" ng-repeat="item in data.listVillage"
                                                        ng-if="item.district_id == data.search.district_id">{{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">Trạng thái</label>
                                            <select class="form-control" convert-to-number
                                                    ng-model="data.search.ou_status">
                                                    <option value="">Tất cả</option>
                                                <option ng-repeat="(key,val) in data.listStatus" value="{{key}}">
                                                    {{val}}
                                                </option>
                                            </select>

                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">Xếp loại</label>
                                            <select class="form-control" ng-model="data.search.rank">
                                                <option value="">Tất cả</option>
                                                <option value="-1">Chưa xếp loại</option>
                                                <option value="A">Xếp loại A</option>
                                                <option value="B">Xếp loại B</option>
                                                <option value="C">Xếp loại C</option>
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="button" class="btn btn-light"
                                                ng-click="actions.resetFillter()">
                                            <i class="mdi mdi-filter-remove-outline"></i> Xóa bộ lọc
                                        </button>
                                        <button type="button" class="btn btn-primary"
                                                ng-click="actions.gotoPage(1)">
                                            <i class="mdi mdi-filter"></i> Tìm kiếm
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead class="table-green">
                <tr>
                    <th class="text_center">Id</th>
                    <th class="text_center">Tên doanh nghiệp</th>
                    <th class="text_center">Mã số thuế</th>
                    <th class="text_center">Loại hình</th>
                    <th class="text_center">Ngành nghề</th>
                    <th class="text_center">Địa chỉ</th>
                    <th class="text_center">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in data.allOu.data">
                    <td class="text_center"> {{item.ou_id}}</td>
                    <td>{{item.ou_name}}</td>
                    <td> {{item.tax_code}}</td>
                    <td>{{item.enterprise_type_info.name}}</td>
                    <td>{{item.career_info.name}}</td>
                    <td>{{item.address}}, {{item.village_info.name}}, {{item.district_info.name}},
                        {{item.province_info.name}}
                    </td>
                    <td class="text_center align-middle">
                        <button type="button" class="btn btn-primary" ng-click="actions.showModelOu(item.ou_id)">Sửa
                        </button>
                        <!--                        <button type="button" class="btn btn-danger" ng-click="actions.deleteOu(item.ou_id)">Xóa-->
                        <!--                        </button>-->
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12 col-md-5 margin-top-15">
                    <div class="dataTables_info">Tổng số: {{data.search.total}} bản ghi</div>
                </div>
                <div class="col-sm-12 col-md-7 margin-top-15 text-right">
                    <paging
                            page="data.search.page"
                            page-size="data.search.limit"
                            total="data.search.total"
                            show-prev-next="true"
                            paging-action="actions.gotoPage(page)"
                            ul-class="pagination justify-content-end"
                            show-first-last="true">
                    </paging>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!--modal thêm mới đơn vị-->
    <div id="modal_unit" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #00a7d0;color: #fff;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span></button>
                    <h4 ng-if="!data.ouInfo.ou_id" class="modal-title">Thêm mới doanh nghiệp</h4>
                    <h4 ng-if="data.ouInfo.ou_id" class="modal-title">Chi tiết doanh nghiệp</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="row">
                            <div class="form-group col-xs-8" ng-class="errors.ou.ou_name ? 'has-error' : ''">
                                <label for="txt_ou_name">
                                    Tên doanh nghiệp
                                    <span style="color: #d81b1b">*</span>
                                </label>
                                <input type="text" ng-model="data.ouInfo.ou_name" class="form-control"
                                       id="txt_ou_name" placeholder="nhập tên doanh nghiệp"/>
                                <span class="help-block" ng-repeat="item in errors.ou.ou_name">{{item}}</span>
                            </div>
                            <div class="form-group col-xs-4" ng-class="errors.ou.tax_code ? 'has-error' : ''">
                                <label for="txt_tax_code">
                                    Mã số thuế
                                    <span style="color: #d81b1b">*</span>
                                </label>
                                <input type="text" ng-model="data.ouInfo.tax_code" class="form-control"
                                       id="txt_tax_code" placeholder="nhập mã số thuế"/>
                                <span class="help-block" ng-repeat="item in errors.ou.tax_code">{{item}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-4" ng-class="errors.ou.enterprise_type_id ? 'has-error' : ''">
                                <label>Loại hình doanh nghiệp</label>
                                <select class="form-control"
                                        ng-model="data.ouInfo.enterprise_type_id">
                                    <option value="">-- Chọn loại hình doanh nghiệp --</option>
                                    <option ng-repeat="item in data.listEnterpriseType" ng-value="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                                <span class="help-block"
                                      ng-repeat="error in errors.ou.enterprise_type_id">{{error}}</span>
                            </div>
                            <div class="form-group col-xs-4" ng-class="errors.ou.career_id ? 'has-error' : ''">
                                <label>Ngành nghề sản xuất, kinh doanh</label>
                                <select class="form-control"
                                        ng-model="data.ouInfo.career_id">
                                    <option value="">-- Chọn ngành nghề sản xuất, kinh doanh --</option>
                                    <option ng-repeat="item in data.listCareer" ng-value="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                                <span class="help-block"
                                      ng-repeat="error in errors.ou.career_id">{{error}}</span>
                            </div>
                            <div class="form-group col-xs-4" ng-class="errors.ou.province_id ? 'has-error' : ''">
                                <label>
                                    Tỉnh/Thành
                                    <span style="color: #d81b1b">*</span>
                                </label>
                                <select class="form-control"
                                        ng-change="data.ouInfo.district_id = '';data.ouInfo.village_id = '';"
                                        ng-model="data.ouInfo.province_id">
                                    <option value="">-- Chọn tỉnh/thành --</option>
                                    <option ng-repeat="item in data.listProvince" ng-value="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                                <span class="help-block" ng-repeat="error in errors.ou.province_id">{{error}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-4" ng-class="errors.ou.district_id ? 'has-error' : ''">
                                <label>
                                    Quận/Huyện
                                    <span style="color: #d81b1b">*</span>
                                </label>
                                <select class="form-control" ng-change="data.ouInfo.village_id = '';"
                                        ng-model="data.ouInfo.district_id">
                                    <option value="">-- Chọn quận/huyện --</option>
                                    <option ng-repeat="item in data.listDistrict" ng-value="item.id"
                                            ng-if="data.ouInfo.province_id == item.province_id">
                                        {{item.name}}
                                    </option>
                                </select>
                                <span class="help-block" ng-repeat="error in errors.ou.district_id">{{error}}</span>
                            </div>
                            <div class="form-group col-xs-4" ng-class="errors.ou.village_id ? 'has-error' : ''">
                                <label>
                                    Xã/phường
                                    <span style="color: #d81b1b">*</span>
                                </label>
                                <select class="form-control"
                                        ng-model="data.ouInfo.village_id">
                                    <option value="">-- Chọn xã/phường --</option>
                                    <option ng-repeat="item in data.listVillage" ng-value="item.id"
                                            ng-if="data.ouInfo.district_id == item.district_id">
                                        {{item.name}}
                                    </option>
                                </select>
                                <span class="help-block" ng-repeat="error in errors.ou.village_id">{{error}}</span>
                            </div>
                            <div class="form-group col-xs-4" ng-class="errors.ou.address ? 'has-error' : ''">
                                <label>
                                    Địa chỉ
                                    <span style="color: #d81b1b">*</span>
                                </label>
                                <input type="text" ng-model="data.ouInfo.address" class="form-control"
                                       placeholder="Số 25, Thôn hạ"/>
                                <span class="help-block" ng-repeat="error in errors.ou.address">{{error}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-4" ng-class="errors.ou.phone ? 'has-error' : ''">
                                <label>Số điện thoại doanh nghiệp</label>
                                <input type="text" ng-model="data.ouInfo.phone" class="form-control"
                                       placeholder="Nhập số điện thoại doanh nghiệp"/>
                                <span class="help-block" ng-repeat="error in errors.ou.phone">{{error}}</span>
                            </div>
                            <div class="form-group col-xs-4" ng-class="errors.ou.fax ? 'has-error' : ''">
                                <label>Fax doanh nghiệp</label>
                                <input type="text" ng-model="data.ouInfo.fax" class="form-control"
                                       placeholder="Nhập fax doanh nghiệp"/>
                                <span class="help-block" ng-repeat="error in errors.ou.fax">{{error}}</span>
                            </div>
                            <div class="form-group col-xs-4" ng-class="errors.ou.email ? 'has-error' : ''">
                                <label>Email doanh nghiệp</label>
                                <input type="text" ng-model="data.ouInfo.email" class="form-control"
                                       placeholder="Nhập email doanh nghiệp"/>
                                <span class="help-block" ng-repeat="error in errors.ou.email">{{error}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-4"
                                 ng-class="errors.ou.other_info.director_name ? 'has-error' : ''">
                                <label>Tên giám đốc</label>
                                <input type="text" ng-model="data.ouInfo.other_info.director_name" class="form-control"
                                       placeholder="Nhập tên giám đốc"/>
                                <span class="help-block" ng-repeat="error in errors.ou.other_info.director_name">{{error}}</span>
                            </div>
                            <div class="form-group col-xs-4"
                                 ng-class="errors.ou.other_info.director_phone ? 'has-error' : ''">
                                <label>SĐT giám đốc</label>
                                <input type="text" ng-model="data.ouInfo.other_info.director_phone" class="form-control"
                                       placeholder="Nhập số điện thoại giám đốc"/>
                                <span class="help-block" ng-repeat="error in errors.ou.other_info.director_phone">{{error}}</span>
                            </div>
                            <div class="form-group col-xs-4"
                                 ng-class="errors.ou.other_info.director_email ? 'has-error' : ''">
                                <label>Email giám đốc</label>
                                <input type="text" ng-model="data.ouInfo.other_info.director_email" class="form-control"
                                       placeholder="Nhập email giám đốc"/>
                                <span class="help-block" ng-repeat="error in errors.ou.other_info.director_email">{{error}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-4"
                                 ng-class="errors.ou.other_info.accountant_name ? 'has-error' : ''">
                                <label>Tên kế toán</label>
                                <input type="text" ng-model="data.ouInfo.other_info.accountant_name"
                                       class="form-control"
                                       placeholder="Nhập tên kế toán"/>
                                <span class="help-block" ng-repeat="error in errors.ou.other_info.accountant_name">{{error}}</span>
                            </div>
                            <div class="form-group col-xs-4"
                                 ng-class="errors.ou.other_info.accountant_phone ? 'has-error' : ''">
                                <label>SĐT kế toán</label>
                                <input type="text" ng-model="data.ouInfo.other_info.accountant_phone"
                                       class="form-control"
                                       placeholder="Nhập số điện thoại kế toán"/>
                                <span class="help-block" ng-repeat="error in errors.ou.other_info.accountant_phone">{{error}}</span>
                            </div>
                            <div class="form-group col-xs-4"
                                 ng-class="errors.ou.other_info.accountant_email ? 'has-error' : ''">
                                <label>Email kế toán</label>
                                <input type="text" ng-model="data.ouInfo.other_info.accountant_email"
                                       class="form-control"
                                       placeholder="Nhập email kế toán"/>
                                <span class="help-block" ng-repeat="error in errors.ou.other_info.accountant_email">{{error}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-4"
                                 ng-class="errors.ou.other_info.HRM_name ? 'has-error' : ''">
                                <label>Tên quản lý nhân sự</label>
                                <input type="text" ng-model="data.ouInfo.other_info.HRM_name" class="form-control"
                                       placeholder="Nhập Tên quản lý nhân sự"/>
                                <span class="help-block"
                                      ng-repeat="error in errors.ou.other_info.HRM_name">{{error}}</span>
                            </div>
                            <div class="form-group col-xs-4"
                                 ng-class="errors.ou.other_info.HRM_phone ? 'has-error' : ''">
                                <label>SĐT quản lý nhân sự</label>
                                <input type="text" ng-model="data.ouInfo.other_info.HRM_phone" class="form-control"
                                       placeholder="Nhập số điện thoại quản lý nhân sự"/>
                                <span class="help-block"
                                      ng-repeat="error in errors.ou.other_info.HRM_phone">{{error}}</span>
                            </div>
                            <div class="form-group col-xs-4"
                                 ng-class="errors.ou.other_info.HRM_email ? 'has-error' : ''">
                                <label>Email quản lý nhân sự</label>
                                <input type="text" ng-model="data.ouInfo.other_info.HRM_email" class="form-control"
                                       placeholder="Nhập email quản lý nhân sự"/>
                                <span class="help-block"
                                      ng-repeat="error in errors.ou.other_info.HRM_email">{{error}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-4" ng-class="errors.ou.ou_status ? 'has-error' : ''">
                                <label>Trạng thái</label>
                                <select class="form-control" convert-to-number
                                        ng-model="data.ouInfo.ou_status">
                                    <option ng-repeat="(key,val) in data.listStatus" value="{{key}}">
                                        {{val}}
                                    </option>
                                </select>
                                <span class="help-block" ng-repeat="error in errors.ou.ou_status">{{error}}</span>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group" ng-class="errors.ou.user_password ? 'has-error' : ''">
                                    <label>Mật khẩu mới <span
                                            style="color: #d81b1b">*</span></label>
                                    <input name="user_password" ng-model="data.ouInfo.user_password"
                                           type="password" class="form-control" id="inputPassword3"
                                           placeholder="Nhập mật khẩu..">
                                    <span class="help-block" ng-repeat="item in errors.ou.user_password">{{item}}</span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group"
                                     ng-class="errors.ou.user_password_confirmation ? 'has-error' : ''">
                                    <label>Nhập lại mật khẩu <span
                                            style="color: #d81b1b">*</span></label>
                                    <input name="user_password_confirmation"
                                           ng-model="data.ouInfo.user_password_confirmation" type="password"
                                           class="form-control" id="inputPassword3_confirmed"
                                           placeholder="Xác nhận lại mật khẩu..">
                                    <span class="help-block"
                                          ng-repeat="item in errors.ou.user_password_confirmation">{{item}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button ng-if="!data.ouInfo.ou_id" type="submit" class="btn btn-primary"
                            ng-click="actions.insertOu()"><i class="fa fa-save"></i> Thêm mới
                    </button>
                    <button ng-if="data.ouInfo.ou_id" type="submit" class="btn btn-primary" ng-click="actions.editOu()">
                        <i class="fa fa-edit"></i> Cập nhật
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Hủy
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</section>
<!--/.content -->
