.block-com {
    width: 360px;
    height: 112.5px;
    left: 179px;
    top: 309px;
    background: rgba(1, 147, 65, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 9px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
}

.grid-item {
    background: rgba(1, 147, 65, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 9px;
    height: 112.5px;
    display: flex;
}

.grid-left {
    padding: 7px;
    text-align: center;
    width: 30%;
/* margin: auto; */}

.grid-left figure img {
    object-fit: cover;
    width: 88.88px;
    height: 67.5px;
}

.grid-left figure {
    position: relative;
    width: 88.88px;
    height: 67.5px;
    margin: auto;
}

.img-text {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    color: #DB261B;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.grid-left-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #019341;
    /* text-align: center; */
    margin-top: 3px;
    /* margin-bottom: 3px; */
/* width: 88.88px; */text-align: center;}

.grid-left-date {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    color: #000000;
    text-align: center;
}

.grid-right {
    width: 70%;
    display: grid;
    grid-template-areas:
        'header header header header'
        'left left right right'
        'footer footer footer footer';
}

.grid-right-text {
    grid-area: header;
    margin: 7px 8px 0 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #019341;
}

.gr-text-left {
    grid-area: left;
}

.gr-text-left p {
    font-family: 'Montserrat-regular';
    font-style: normal;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    margin: 0 0 7px 0;
}

.gr-text-left p span,
.gr-text-right p span {
    font-family: 'Montserrat';
}

.gr-text-right p {
    font-family: 'Montserrat-regular';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    margin: 0 0 7px 0;
}

.gr-text-right {
    grid-area: right;
}

.grid-right-view {
    grid-area: footer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 11px;
    /* identical to box height */
    color: #DB261B !important;
    cursor: pointer;
}

.grid-right-view:hover {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}


.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #019341;
}

.modal-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
}

.modal-content {
    width: 770px;
}

.modal-body-custom {
    display: flex;
}

.modal-img {
    width: 25%;
}

.modal-img img {
    width: 159px;
    height: 120px;
    object-fit: cover;
}

.modal-text {
    width: 37%;
}

.modal-text p {
    margin-bottom: 11px;
    margin-top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.modal-text p span {

    color: #019341;
}

.description-text {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    min-height: 200px;
}

.modal-dialog {
    width: 770px;
}

.btn-custom {
    background-color: #019341;
}

.modal-footer {
    padding: 15px;
    text-align: center !important;
    border-top: 1px solid #e5e5e5;
}
.form-control:focus {
    border-color: #019341;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(1, 147, 65, 1);
}