
<div class="card margin-bottom0">
    <div class="card-body padding-bottom0 padding0">
        <div class="row">
            <div class="col-md-12">
                <div class="box-title">
                    <div class="box-title-text"><span>Danh sách Quận/Huyện</span></div>
                    <div class="box-title-layout">
                        <div class="flex">
                            <input type="text" class="form-control form-filter" ng-model="search.keyword"
                                ng-enter="actions.search()"
                                placeholder="Tìm kiếm theo tên ...">
                        </div>
                        <div class="flex text-right" style="margin-left: auto; max-width: 40px; height: 37px;">
                            <button type="button" class="btn"
                                ng-click="actions.search()">
                                <i aria-hidden="true" class="fas fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 mb-1">
                <button
                class="btn btn-sm btn-social btn-primary"
                ng-click="actions.showModalDistrict(true);">
                <i class="fa fa-plus"></i> Thêm mới
            </button>
            </div>
            
        </div>
        <table class="table table-bordered" id="district_table">
            <colgroup>
                <col width="5%" />
                <col width="*" />
                <col width="25%" />
                <col width="10%" />
                <col width="15%" />
                <col width="5%" />
                <col width="15%" />
            </colgroup>
            <thead class="table-green">
                <tr>
                    <th class="text-center align-middle">STT</th>
                    <th class="text-center align-middle">Tên Quận/Huyện</th>
                    <th class="text-center align-middle">Thuộc Tỉnh/Thành phố</th>
                    <th class="text-center align-middle">Mã</th>
                    <th class="text-center align-middle">Trạng thái</th>
                    <th class="text-center align-middle">Thứ tự hiển thị</th>
                    <th class="text-center align-middle">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.listDistrict">
                    <td class="text-center align-middle">
                        {{ $index + (search.page - 1) * search.limit + 1 }}
                    </td>
                    <td class="align-middle">
                        <a
                            href="javascript:;"
                            ng-click="actions.showModalDistrict(false,$index)">
                            {{ item.name }}
                        </a>
                    </td>
                    <td class="align-middle">{{ item.province.name }}</td>
                    <td class="align-middle text-center">{{ item.code }}</td>
                    <td
                        class="text-center align-middle"
                        ng-bind="(item.status == 1) ? 'Hoạt động' : 'Không hoạt động'"></td>
                    <td class="text-center align-middle" ng-bind="item.order"></td>
                    <td class="text-center align-middle">
                        <button
                            class="btn btn-primary"
                            ng-click="actions.showModalDistrict(false,$index)"
                            type="button">
                            Sửa
                        </button>
                        <button
                            class="btn btn-danger"
                            ng-click="actions.deleteDistrict(item.id)"
                            type="button">
                            Xóa
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <paginate-dir page="search.page" page-size="search.limit"
            total="search.total" paging-action="actions.gotoPage(search.page)">
        </paginate-dir>
    </div>
</div>
<!-- Main content -->


<!-- Modal -->
<div id="modal_single" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div
                class="modal-header"
                style="color: #fff">
                
                <h4 class="modal-title" ng-if="data.statusInsert">
                    Thêm mới Quận/Huyện
                </h4>
                <h4 class="modal-title" ng-if="!data.statusInsert">
                    Chi tiết Quận/Huyện
                </h4>
                <button
                    aria-label="Close"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    type="button">
                </button>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <div class="form-group" ng-class="errors.name ? 'has-error' : ''">
                        <label for="txt_name">Tên Quận/Huyện<span style="color: #d81b1b">*</span></label>
                        <input
                            id="txt_name"
                            class="form-control"
                            ng-model="data.singleDistrict.name"
                            placeholder="Nhập tên Quận/Huyện"
                            type="text"
                            />
                        <span class="help-block text-red">{{ errors.name[0] }}</span>
                    </div>
                    <div
                        class="form-group mt-3"
                        ng-class="errors.province_id ? 'has-error' : ''">
                        <label for="txt_name">Thuộc Tỉnh/Thành phố<span style="color: #d81b1b">*</span></label>
                        <select
                            class="form-control"
                            ng-model="data.singleDistrict.province_id">
                            <option value="">-- Chọn Tỉnh/Thành phố --</option>
                            <option
                                ng-repeat="item in data.listProvince"
                                ng-value="item.id">
                                {{ item.name }}
                            </option>
                        </select>
                        <span class="help-block text-red">{{ errors.province_id[0] }}</span>
                    </div>
                    <div class="form-group mt-3" ng-class="errors.code ? 'has-error' : ''">
                        <label for="txt_name">Mã<span style="color: #d81b1b">*</span></label>
                        <input
                            id="txt_name"
                            class="form-control"
                            ng-model="data.singleDistrict.code"
                            placeholder="Nhập mã Quận/Huyện"
                            type="text"
                            />
                        <span class="help-block text-red">{{ errors.code[0] }}</span>
                    </div>
                    <div class="form-group mt-3">
                        <label for="txt_order">Thứ tự hiển thị</label>
                        <input
                            id="txt_order"
                            class="form-control"
                            min="0"
                            ng-model="data.singleDistrict.order"
                            placeholder="Nhập thứ tự hiển thị"
                            type="number"
                            />
                    </div>
                    <div class="checkbox mt-3">
                        <label class="text-center">
                            <input
                                ng-false-value="0"
                                ng-model="data.singleDistrict.status"
                                ng-true-value="1"
                                type="checkbox"
                                />
                            Hoạt động
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    class="btn btn-primary btn-sm btn-social"
                    ng-click="actions.insertDistrict()"
                    ng-if="data.statusInsert"
                    type="submit">
                    <i class="fa fa-save"></i> Thêm mới
                </button>
                <button
                    class="btn btn-primary btn-sm btn-social"
                    ng-click="actions.updateDistrict(data.singleDistrict.id)"
                    ng-if="!data.statusInsert"
                    type="submit">
                    <i class="fa fa-edit"></i> Cập nhật
                </button>
                <button class="btn btn-default btn-sm btn-social" data-bs-dismiss="modal" type="button">
                    <i class="fa fa-close"></i> Hủy
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
